fastapi[standard]
uvicorn[standard]
jinja2
pymongo
sqlalchmey:"""What SQLAlchemy Does

In FastAPI projects we usually use:

FastAPI
    ↓
SQLAlchemy
    ↓
PostgreSQL

SQLAlchemy is called an ORM.

ORM = Object Relational Mapper

It converts Python classes into database tables.""""
